.news__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 33px;
  row-gap: 30px;
  position: relative;
}

@media screen and (max-width: 1290px) {
  .news__container {
    column-gap: 30px;
  }
}

@media screen and (max-width: 850px) {
  .news__container {
    column-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .news__container {
    column-gap: 0;
  }
}
