.card__item {
  font-family: "Open Sans", serif;
  padding-bottom: 12px;
  letter-spacing: 0.1px;
  font-size: 18px;
}

.card__item:last-child {
  padding-bottom: 0;
}

.card__item:before {
  content: "";
  display: inline-block;
  height: 4px;
  width: 4px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #000;
  margin-right: 13px;
  margin-left: 12px;
  margin-top: -5px;
}

@media screen and (max-width: 1115px) {
  .card__item {
    font-size: 16px;
    line-height: 15px;
  }
}

@media screen and (max-width: 900px) {
  .card__item {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 450px) {
  .card__item {
    font-size: 12px;
    line-height: 16px
  }
}

