.page__header {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page__header:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../../../images/header-background.jpg);
  background-size: 80%;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #001337;
}

@media screen and (max-width: 1439px) {

  .page__header:before {
    transform: scaleX(-1);
    background-size: unset;
    background-position: top right;
  }
}

@media screen and (max-width: 767px) {

  .page__header:before {
    transform: scaleX(-1);
    background-size: auto 550px;
    background-position: top right;
  }
}
