.footer__city {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  font-family: "Open Sans", serif;
  margin: 0 0 4px 0;
}

@media screen and (max-width: 900px) {
  .footer__city {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 15px 0;
  }
}

@media screen and (max-width: 480px) {
  .footer__city {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 11px 0;
  }
}

