.footer__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  font-family: "Open Sans", serif;
  margin: 0;
  text-decoration: none;
  display: block;
}

.footer__phone:hover {
  opacity: 0.7;
  transition: 0.3s;
}

@media screen and (max-width: 900px) {
  .footer__phone {
    font-size: 12px;
    line-height: 20px;
  }
}
