.header-focus__button {
  width: 100%;
  max-width: 350px;
  min-height: 60px;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .header-focus__button {
    font-size: 18px;
    max-width: 330px;
    min-height: 62px;
  }
}

@media screen and (max-width: 767px) {
  .header-focus__button {
    font-size: 14px;
    line-height: 20px;
    max-width: 288px;
    min-height: 44px;
    border-radius: 5px;
  }
}
