.input {
  border-radius: 10px;
  border: none;
  height: 60px;
  outline: 0;
  outline-offset: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #009fac;
  font-family: "Open Sans", serif;
  box-sizing: border-box;
}

.input::placeholder {
  color: #009fac;
}

@media screen and (max-width: 768px) {
  .input {
    height: 44px;
    max-width: 210px;
  }
}

@media screen and (max-width: 730px) {
  .input {
    min-width: 100%;
  }
}
