.popup-lab__item {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .popup-lab__item {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .popup-lab__item {
    font-size: 12px;
    line-height: 16px;
  }
}
