.contact__submit {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 17px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  max-width: 350px;
  height: 60px;
  margin-bottom: 30px;
  font-family: "Open Sans", serif;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .contact__submit {
    height: 44px;
  }
}

@media screen and (max-width: 730px) {
  .contact__submit {
    grid-column-start: auto;
    grid-column-end: auto;
    min-width: 100%;
    margin-bottom: 40px;
  }
}
