.popup-lab__container {
  display: grid;
  padding: 20px;
  position: relative;
  max-width: 1110px;
  width: 100%;
  min-height: 718px;
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  grid-template-columns: 400px 650px;
  grid-template-rows: max-content;
  gap: 0 20px;
}

@media screen and (max-width: 1439px) {
  .popup-lab__container {
    grid-template-columns: 199px 414px;
    max-width: 690px;
    min-height: 454px;
  }
}

@media screen and (max-width: 767px) {
  .popup-lab__container {
    grid-template-columns: 268px;
    max-width: 300px;
    min-height: 444px;
    padding: 16px;
    gap: 10px;
  }
}
