.footer__copyright-university {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  font-family: "Open Sans", serif;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}