.projects-pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1439px) {
  .projects-pagination__item {
    max-height: 14px;
  }
}

@media screen and (max-width: 767px) {
  .projects-pagination__item {
    font-size: 12px;
  }
}
