.partners__cards {
  margin: 0 auto;
  padding-inline: 39px;
  list-style-type: none;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  column-gap: 37px;
  /* column-gap: 57px; */
  row-gap: 50px;
  align-items: center;
  margin-block: 0;
}

.partners__cards:not(:last-child) {
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .partners__cards {
    column-gap: 26px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 540px) {
  .partners__cards {
    justify-content: space-between;
  }
}

@media screen and (max-width: 320px) {
  .partners__cards {
    row-gap: 20px;
    padding-inline: 16px;
  }
}
