.lab__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 255px;
  width: 100%;
  min-height: 430px;
  padding: 30px 20px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (max-width: 1439px) {
  .lab__card {
    max-width: 150px;
    min-height: 242px;
    padding: 12px;
  }
}

@media screen and (max-width: 767px) {
  .lab__card {
    max-width: 140px;
    min-height: 224px;
    padding: 10px;
  }
}
