@media screen and (min-width: 900px) {
  .footer__socials_size_m {
    display: none;
  }
}

@media screen and (max-width: 899px) {
  .footer__socials_size_m {
    display: flex;
    margin-right: 61px;
    margin-top: 11px;
  }
}

@media screen and (max-width: 550px) {
  .footer__socials_size_m {
    display: none;
  }
}
