.news__item {
  background: #fff;
  max-width: 348px;

  box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width: 807px) {
  .news__item {
    max-width: 330px;
  }
}

@media screen and (max-width: 320px) {
  .news__item {
    max-width: 288px;
  }
}
