.news__link-text {
  color:#fff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;

  margin-block: 0;
  margin-inline: 0;
}


@media screen and (max-width: 320px) {
  .news__link-text {
    font-size: 14px;
    line-height: 19px;
  }
}
