.news__slide-button {
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
}

@media screen and (max-width: 1230px) {
  .news__slide-button {
    display: none;
  }
}
