.footer__mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  font-family: "Open Sans", serif;
  margin: 15px 0 69px 0;
}

@media screen and (max-width: 1439px) {
  .footer__mail {
    margin: 12px 0 69px 0;
  }
}

@media screen and (max-width: 900px) {
  .footer__mail {
    margin: 9px 0 21px 0;
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (max-width: 420px) {
  .footer__mail {
    margin: 10px 0 21px 0;
    font-size: 12px;
    line-height: 20px;
  }
}