.lab__item {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(1, 54, 157, 0.15);
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: top 0.3s ease 0s;
  top: 0;
}

.lab__item:hover {
  top: -20px;
}

@media screen and (max-width: 767px) {
  .lab__item:hover {
    top: 0px;
  }
}

.lab__item:nth-of-type(1) {
  background-image: url("../../../images/project.jpg");
}

.lab__item:nth-of-type(2) {
  background-image: url("../../../images/machine-learning.jpg");
}

.lab__item:nth-of-type(3) {
  background-image: url("../../../images/data.jpg");
}

.lab__item:nth-of-type(4) {
  background-image: url("../../../images/robot.jpg");
}
