.contact {
  min-height: 577px;
  background-color: #009fac;
}

@media screen and (max-width: 1439px) {
  .contact {
    padding: 0 39px;
  }
}

@media screen and (max-width: 900px) {
  .contact {
    min-height: 456px;
  }
}

@media screen and (max-width: 320px) {
  .contact {
    min-height: 643px;
  }
}
