.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 37px 0 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .footer__content {
    margin: 19px 0 20px;
    gap: 0px 15px;
  }
}


@media screen and (max-width: 480px) {
  .footer__content {
    gap: 42px 15px;
    margin: 9px 0 0;
  }
}