.header-focus__title {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 68px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header-focus__title {
    font-size: 32px;
    line-height: 44px;
  }
}
