.textarea {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #009fac;
  border-radius: 10px;
  outline: 0;
  outline-offset: 0;
  border: none;
  box-sizing: border-box;
}

.textarea::placeholder {
  color: #009fac;
}

@media screen and (max-width: 900px) {
  .textarea {
    max-width: 210px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 450px) {
  .textarea {
    font-size: 12px;
    line-height: 16px;
  }
}
