.card {
  padding: 30px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  gap: 0px 29px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .card {
    padding: 20px;
  }
}

@media screen and (max-width: 760px) {
  .card {
    flex-direction: column-reverse;
    padding: 16px;
    border-radius: 5px;
  }
}

