.button-group__button__active {
  background: #e0f0ff;
  color: #000d26;
  border: 1px solid #e0f0ff;
  width: 280px;
}

@media screen and (max-width: 1100px) {
  .button-group__button__active {
    width: 229px;
  }
}

@media screen and (max-width: 700px) {
  .button-group__button__active {
    width: 160px;
  }
}

@media screen and (max-width: 450px) {
  .button-group__button__active {
    width: 146px;
  }
}