.news__announcement {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  max-height: 152px;
  overflow: hidden;

  color: #000D26;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  padding-block-end: 30px;
}

@media screen and (max-width: 768px) {
  .news__announcement {
    padding-block-end: 10px;
  }
}

@media screen and (max-width: 320px) {
  .news__announcement {
    font-size: 12px;
    line-height: 16px;
    padding-block-end: 16px;

  }

}
